* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

@media screen and (max-width: 800px) {
    main {
        background-color: aliceblue;
        display: flex;

    }
}



main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.content {
    background-color: aliceblue;
    padding: 2em;
    display: flex;

}

.left-content {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: 60%;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 6px;

}


.middle-content {
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 60%;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;

}




.right-content {
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 60%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}



.button {
    padding: 10px;
    border-radius: 30px;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-size: 10px;
    margin: 5px;

}

button:hover {
    color: hsl(0, 0%, 95%);
    border: 2px solide hsl(0, 0%, 95%);
    background-color: transparent;

}

img {
    padding: 15px;
    width: 60px;
    height: 60px;
    padding-inline-start: 2px;
}

.navbar a {
    display: contents;
    color: white;
    float: inherit;
    padding-block-end: 40px;

}

.btn {
    background-color: hsl(179, 100%, 13%);
    width: auto;
    border-radius: 10px;
    padding: 10px 18px;
    margin-top: 30px;
}

.btn2 {
    background-color: hsl(31, 77%, 52%);
    width: auto;
    font: white;
    border-radius: 10px;
    padding: 10px 18px;
    margin-top: 30px;
}